.navbar-wrapper {
  height: 100px;
  background: #24292e;
  color: hsla(0, 0%, 100%, .7);
}
.navbar-container {
  width: 60%;
  height: 50px;
  margin: 0 auto;
}

.navbar-container #title{
  margin: 0 auto;
  padding: 12px;
  text-align: center;
  font-size: 5vw;
}
#logo {
  font-size: 20pt;
  padding-top: 10px;
}

#components-layout-demo-side .logo {
  height: 32px;
  background:#24292e;
  margin: 16px;
}
