@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css?family=Anton|Noto+Sans+KR:400,900&display=swap');
@import './antd.less';


.header {
    font-size : 100px;
    color : #E50914;
    font-family: 'Anton', sans-serif;
}

.footer{
  background-color: #221F1F;
  color : white;
}

.title {
  font-size : 50px;
  color : white;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 900;
}

.info {
  color : white;
  background-color: #221F1F;
  text-align: right;
  font-size: 20px;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 900;
  margin : 50;
}


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.reviewcontent{
  text-align: center;
}

.App-header {
  background-color: #221F1F;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*헤더*/
.ant-layout-header {
  height: 200px;
  padding: 0 50px;
  line-height: 64px;
  background: #221F1F;
}

/*메뉴*/
.ant-menu{
  color : white;
  background: #221F1F;
}


/*메뉴 배경*/
.ant-menu-submenu > .ant-menu {
  background-color: #221F1F;
  border-radius: 4px;
}

/*소메뉴들 */
.ant-menu-item {
  color: white;
  background: #221F1F;
}

/*소메뉴들 */
.ant-menu-active {
  color: pink;
}

/*메뉴오른쪽에실같이튀어나온거*/
.ant-menu-vertical .ant-menu-item::after, .ant-menu-vertical-left .ant-menu-item::after, .ant-menu-vertical-right .ant-menu-item::after, .ant-menu-inline .ant-menu-item::after{
  border-right: #221F1F;
}

/*선택된거 배경*/
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #E50914;
}

/*드래그해서 선택했을 때*/
::selection {
  color: green;
  background: yellow;
}

/*사이드바 아래 남는부분 */
.ant-layout-sider-children {
  background : #221F1F;
}


.body{
  background: #221F1F;
  color : white;
}

a {
  color : white;
}

/*리스트 제목 글씨 */
.ant-list-item-meta-title > a {
  color: white;
  transition: all 0.3s;
  font-size : 30px;
}

/*리스트 아래 별 숫자 */
.ant-list-item-action > li{
  color : white;
}

/*리뷰 리스트 */
.ant-list{
  color : white;
}

/*새로운 리뷰 쓰는 버튼 */
.ant-btn-primary {
  color: #fff;
  background-color: #E50914;
  border-color:#E50914;
}

/*버튼 클릭했을 때 */
.ant-btn-primary:hover, .ant-btn-primary:focus {
  color: #E50914;
  background-color: white;
  border-color:white;
}

/*기본버튼 눌렀을 때*/
.ant-btn:hover, .aant-btn:focus {
  color : #E50914;
  border-color : #E50914;
}

/*리뷰 화면 글씨색*/
.ant-form-item-label > label {
  color: white;
}

/*체크박스 */
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #E50914;
  border-color: #E50914;
}
/*체크박스 둘레 */
.ant-checkbox-wrapper:hover .ant-checkbox-inner, .ant-checkbox:hover .ant-checkbox-inner, .ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: #E50914;
}



/*리스트 아래줄*/
.ant-list-item:last-child {
  border-bottom: 0px solid #e8e8e8;
}
.ant-list-something-after-last-item .ant-spin-container > .ant-list-items > .ant-list-item:last-child {
  border-bottom: 0px solid #e8e8e8;
}
.ant-list-split .ant-list-item {
  border-bottom: 0px solid #e8e8e8;
}

/*리스트아래 숫자*/
.ant-pagination-item-active a {
  color: #E50914;
}
.ant-pagination-item-active {
  border-color: #E50914;
}