.DS_Store
venv/*
**/venv/*
node_modules/*
**/node_modules/*
*.swa
*.swp
__pycache__/*
**/__pycache__/*
*.pyc
data/*
**/data/*
2_flask_1/source/.idea/modules.xml
2_flask_1/source/.idea/encodings.xml
2_flask_1/source/.idea/misc.xml
2_flask_1/source/.idea/source.iml
2_flask_1/source/.idea/vcs.xml
2_flask_1/source/.idea/workspace.xml
3_flask_2/.idea/3_flask_2.iml
3_flask_2/.idea/encodings.xml
3_flask_2/.idea/misc.xml
3_flask_2/.idea/modules.xml
3_flask_2/.idea/vcs.xml
3_flask_2/.idea/workspace.xml
3_flask_2/practice/chankoo/.idea/chankoo.iml
3_flask_2/practice/chankoo/.idea/encodings.xml
3_flask_2/practice/chankoo/.idea/misc.xml
3_flask_2/practice/chankoo/.idea/modules.xml
3_flask_2/practice/chankoo/.idea/vcs.xml
3_flask_2/practice/chankoo/.idea/workspace.xml
3_flask_2/source/.idea/encodings.xml
3_flask_2/source/.idea/misc.xml
3_flask_2/source/.idea/modules.xml
3_flask_2/source/.idea/source.iml
3_flask_2/source/.idea/vcs.xml
3_flask_2/source/.idea/workspace.xml
5_rdbms/practice/Sangkeun/.idea/misc.xml
5_rdbms/practice/Sangkeun/.idea/Sangkeun.iml
5_rdbms/practice/Sangkeun/.idea/modules.xml
5_rdbms/practice/Sangkeun/.idea/vcs.xml
5_rdbms/practice/Sangkeun/.idea/workspace.xml
5_rdbms/practice/chankoo/.idea/chankoo.iml
5_rdbms/practice/chankoo/.idea/misc.xml
5_rdbms/practice/chankoo/.idea/modules.xml
5_rdbms/practice/chankoo/.idea/vcs.xml
5_rdbms/practice/chankoo/.idea/workspace.xml
5_rdbms/practice/chankoo/.idea/dataSources/9885684b-4888-4c11-b25f-4c27b79a8b3a.xml
5_rdbms/practice/chankoo/.idea/dataSources/e45471d8-cfed-4ba9-8e0a-2e4ae94f8475.xml
