h1 {
  font-size: 20pt;
  color: gray;
}
p {
  color: #123456;
  font-size: 12pt;
  margin: 0;
}
img {
  width: 200px;
  height: 200px;
  margin: 10px;
}
input {
  height: 20px;
}
#submit-button {
  background: #f08080;
}
.description {
  font-size: 17pt;
}
.my-information .description {
  font-size: 11pt;
}
.input-text {
  height: 40px;
}
.input-text.email {
  background: gray;
}

