@import '~antd/dist/antd.css';

#root {
	width:100%;
	height:100%;
}

#App{
	width:100%;
	height:100%;
	display:flex;
    flex-direction: column;
}

.ant-layout-header{
    display: flex;
    justify-content: center;
    padding: 10px 40px 0px 40px;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

.anticon-smile {
    line-height: 64px;
}

.ant-menu-horizontal{ 
    display: flex;
    justify-content: center;
    width:100%;
}


.UpperMenu{
    widows: 100%;
    display: flex;
    /*여기 div로 나눠줘서 flex로 조절하고 싶다
    justify-content: space-between;*/
}

.text{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto Oxygen-Sans", Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    letter-spacing: -0.4px;
    font-size: 24px;
    color: rgb(51, 51, 51);
    font-weight: 600;
    font-style: normal;
}

.center{
    text-align: center;
}

.uppercase{
    text-transform: uppercase;
}

.capitalize{
    text-transform: capitalize;
}


h1.introduction {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto Oxygen-Sans", Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    letter-spacing: -0.4px;
    font-size: 32px;
    color: rgb(51, 51, 51);
    font-weight: 600;
    font-style: normal;;
}

.Pictures{
    background: white; 
    padding: 24px;
    min-height: auto;
}


.picture-blocks{
    display: inline-flex;
    height:900px;
}

.picture-container{
    display: flex;
    flex-wrap: wrap;
    margin:0; 
}

.Wall{
    display: flex;
    flex-wrap: wrap;
    margin:0;
}

.PictureBlock{
    padding-bottom: 16px;
    padding-left: 4px;
    padding-right: 4px;
}

.image{
    display:block;
    margin: 0;
}

.img{
    max-width: 100%;
    vertical-align: top;
}

.ant-menu-horizontal {
    border-bottom: 0;
}

.ant-layout-header {
    border-bottom: 1px solid #e8e8e8;
}