body{
  background-color: black;
}

.login {
  max-width: 480px;
  padding: 50px 85px;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
  background: black;
  img {
    height: 39px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  h1 {
    color: white;
    margin: 0;
    font-size: 30pt;
    font-weight: 600;
  }
  h2 {
    color: white;
    font-size: 18pt;
    font-weight: 400;
    margin-bottom: 0;
  }
}
:global .ant-divider {
  background: black !important;
}

