@import url('https://fonts.googleapis.com/css?family=Quicksand');

html {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	font-family: 'Quicksand';
}

body.light-mode {
	background-color: #fff;
	color: #333;
	transition: background-color 0.3s ease;
}

body.dark-mode {
	background-color: #10171d;
	color: #dfdfdf;
}

body.dark-mode a {
	color: #fff
}

body.dark-mode .dark-mode-toggle > button {
	color: #999;
}

body.dark-mode .dark-mode-toggle > button:last-child {
	color: #92E3F1;
}
	
.dark-mode-toggle {
	display: flex;
	margin: 0 auto;
}

.dark-mode-toggle > button {
	font-size: 1.2em;
	background: none;
	border: none;
	color: #f6cd00;
	cursor: pointer;
	transition: color 0.3s ease;
}

.dark-mode-toggle > button:last-child {
	color: #666;
}

.dark-mode-toggle > button:focus {
	outline: none;
}

.toggle-control {
	position: relative;
	padding: 0 4px;
	display: flex;
	align-items: center;
}

input[type='checkbox'].dmcheck {
	width: 40px;
	height: 10px;
	background: #555;
	position: relative;
	border-radius: 5px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
	vertical-align: 2px;
	outline: none;
}

input.dmcheck:checked+label {
	left: 30px;
}

input.dmcheck:focus-visible {
	outline: solid 2px white;
}

input.dmcheck+label {
	display: inline-block;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	transition: all 0.3s ease;
	cursor: pointer;
	position: absolute;
	left: 2px;
	background: #fff;
	opacity: 0.9;
	background-color: #f6f6f6;
}

.wrapper {
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-moz-justify-content: space-between;
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
	position: relative;
	min-height: 100vh;
	padding: 4rem 2rem;
	z-index: 3;
}

.nav {
	width: 100%;
	display: flex;
	align-items: center;
	margin: auto;
}

#header {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-moz-transition: -moz-transform 0.325s ease-in-out, -moz-filter 0.325s ease-in-out, opacity 0.325s ease-in-out;
	-webkit-transition: -webkit-transform 0.325s ease-in-out, -webkit-filter 0.325s ease-in-out, opacity 0.325s ease-in-out;
	-ms-transition: -ms-transform 0.325s ease-in-out, -ms-filter 0.325s ease-in-out, opacity 0.325s ease-in-out;
	transition: transform 0.325s ease-in-out, filter 0.325s ease-in-out, opacity 0.325s ease-in-out;
	max-width: 100%;
	text-align: center;
}

#header .content {
	max-width: 100%;
}

#header .content .inner {
	-moz-transition: max-height 0.75s ease, padding 0.75s ease, opacity 0.325s ease-in-out;
	-webkit-transition: max-height 0.75s ease, padding 0.75s ease, opacity 0.325s ease-in-out;
	-ms-transition: max-height 0.75s ease, padding 0.75s ease, opacity 0.325s ease-in-out;
	transition: max-height 0.75s ease, padding 0.75s ease, opacity 0.325s ease-in-out;
	-moz-transition-delay: 0.25s;
	-webkit-transition-delay: 0.25s;
	-ms-transition-delay: 0.25s;
	transition-delay: 0.25s;
	padding: 3rem 2rem;
	max-height: 40rem;
	overflow: hidden;
}

#footer {
	-moz-transition: -moz-transform 0.325s ease-in-out, -moz-filter 0.325s ease-in-out, opacity 0.325s ease-in-out;
	-webkit-transition: -webkit-transform 0.325s ease-in-out, -webkit-filter 0.325s ease-in-out, opacity 0.325s ease-in-out;
	-ms-transition: -ms-transform 0.325s ease-in-out, -ms-filter 0.325s ease-in-out, opacity 0.325s ease-in-out;
	transition: transform 0.325s ease-in-out, filter 0.325s ease-in-out, opacity 0.325s ease-in-out;
	width: 100%;
	max-width: 100%;
	margin-top: 2rem;
	text-align: center;
}

h1, h2, p, span {
	font-family: 'Quicksand';
}

a {
	color: #333;
	font-family: 'Quicksand';
	text-decoration: none;
}
