.App {
	width: 100%;
	height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: cneter;
	background: var(--lightBg);

	--lightBtn: #FE016C;
	--lightBg: #fff;
	--lightColor: #232323;
}

.App[data-theme='dark'] {
	background: var(--lightBg);
	--lightBtn: #FFBD07;
	--lightBg: #232323;
	--lightColor: #fff;

h1 {
	font-weight: 300;
	color: var(--lightColor);
}

input[type=checkbox] {
	height: 0;
	width: 0;
	visibility: hidden;
}
	
label {
	cursor: pointer;
	text-indent: -9999px;
	width: 55px;
	height: 30px;
	background: var(--lightBtn);
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	position: relative;
}

label:after {
	content: '';
	background: #fff;
	width: 20px;
	height: 20px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	position: absolute;
	top: 5px;
	left: 4px;
	-webkit-transition: ease-in-out 200ms;
	-moz-transition: ease-in-out 200ms;
	-ms-transition: ease-in-out 200ms;
	-o-transition: ease-in-out 200ms;
	transition: ease-in-out 200ms;
	cursor: pointer;
}

input:checked + label {
	background: #FFBD07;
}


input:checked + label:after {
	left: calc(100% - 5px);
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	transform: translateX(-100%);
}

.App.transition,
.App.transition *,
.App.transition *:before,
.App.transition *:after {
	-webkit-transition: ease-in-out 200ms/important;
	-moz-transition: ease-in-out 200ms/important;
	-ms-transition: ease-in-out 200ms/important;
	-o-transition: ease-in-out 200ms/important;
	transition: ease-in-out 200ms/important;
	transition-delay: 0/important;
}
