{% extends "base.html" %}

{% block contents %}
<div class="row mt-5">
    <div class="col-12">
       <div class="form-group">
            <label for="title">제목</label>
            <input type="text" class="form-control" id="title" value="{{ board.title }}" readonly />
            <label for="contents">내용</label>
            <textarea style="height: 500px;" class="form-control" readonly>{{board.contents}}</textarea>
        </div>
        
        <button class="btn btn-primary" onclick="location.href='/regular_session/list/'">돌아가기</button>
    </div>
</div>

{% endblock %}