@import '~antd/dist/antd.css';

.main-wrapper {
	width: 100%;
	-moz-flex-grow: 1;
	-webkit-flex-grow: 1;
	-ms-flex-grow: 1;
	flex-grow: 1;
	-moz-flex-shrink: 1;
	-webkit-flex-shrink: 1;
	-ms-flex-shrink: 1;
	flex-shrink: 1;
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	position: relative;
	max-width: 100%;
	z-index: 3;
}

.Nav {
	font-size: 50px;
	line-height: 1.3em;
	text-align: center;
	color: #000000;
}


.Nav ul {
/*	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	margin-bottom: 0;*/
	list-style: none;
	padding-left: 0;
	text-align: center;
}

.Nav ul li {
	padding-left: 0;
	text-align: center;
}
