@import url(https://fonts.googleapis.com/earlyaccess/jejugothic.css);
}

body{
  font-family: 'Jeju Gothic'
  grid-area: ft;
  margin: 0;
}

h1{
  position: fixed;
  left: 20%;
  top: 17%;
  font-size: 800%;
}

.pic-title {
    color: white;
}
a {
  text-decoration:none
}

a:visited {
  color:white;
  opacity: inherit;
}

@media (min-width:1000px){
.flex-container{
  position:fixed;
  left:300px;
  top: 650px;
  display: flex;
  grid-gap: 15px;
  grid-template-rows: 1fr;
  opacity: 0.7;
}

.about{
  position:fixed;
  left: 730px;
  grid-row: 1/1;
  text-align: center;
}

.works{
  grid-row: 1/1;
  text-align: center;
}

.contact{
  position:fixed; left: 1200px;
  grid-row: 1/1;
  text-align: center;
}

.pic {
    max-width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    display: inline-block;
    -webkit-animation: anima 2s;
    -moz-animation: anima 2s;
    -o-animation: anima 2s;
    -ms-animation: anima 2s;
    animation: anima 2s;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

.pic-caption {
    cursor: default;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('2-2.jpg');
    background-size: 100% auto;
    padding: 10px;
    text-align: center;
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0
}

.pic-image {
     max-width: 100%;
     height: auto;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1)
}

.pic:hover .pic-image {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}

a,
a:hover,
.pic .pic-image,
.pic-caption,
.pic:hover .pic-caption,
.pic:hover img {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease
}

.pic:hover .top-to-bottom {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=($opacity * 100))";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -moz-touch-callout: none;
    -o-touch-callout: none;
    -ms-touch-callout: none;
    touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    -o-tap-highlight-color: transparent;
    -ms-tap-highlight-color: transparent;
    tap-highlight-color: transparent
}

.top-to-bottom {
    bottom: 50%;
    left: 0
}

.pic:hover .top-to-bottom {
    left: 0;
    bottom: 0
}

.logo{
  position:fixed;
  left:20px;
  top:20px;
  width: 7%;
  height: auto;
}
}

@media screen and (max-width: 768px) {
  body {
    font-family: 'Jeju Gothic';
    margin: 0;
    position: fixed;
    overflow-y: scroll;
    width: 100%;
  }

  .logo{
    position: fixed;
    left:100px;
    top:90px;
    width: 45%;
    height: auto;
  }

  .pic-image{
    width: auto;
    height: 500px;
    animation-name: speed;
    animation-duration: 20s;
    animation-direction:alternate-reverse;
    animation-iteration-count:infinite;
  }

  @keyframes speed {
  0% {transform: translate(-10%);}
  to {transform: translate(-60%);}
  }

  .pic-title{
    font-size: 35pt;
    left: 70px;

    padding-top:  65px;
  }

  .flex-container{
    color: white;
    position:fixed;
    left:60px;
    top: 430px;
    display: flex;
    grid-template-rows: 1fr;
    opacity: 0.7;
  }

  .about{
    position:fixed;
    left: 160px;
    grid-row: 1/1;
    text-align: center;
  }

  .works{
    grid-row: 1/1;
    left: 20;
  }

  .contact{
    position:fixed; left: 250px;
    grid-row: 1/1;
    text-align: center;
  }
  a {
    color: white;
  }
}
