{% extends "base.html" %}

{% block contents %}

  
<div id="page" data-eqcss-0-0-parent="" data-eqcss-0-1-prev="">
        <div class="section" data-eqcss-0-0="">
        <h2>만들어진 배경</h2>
        <div class="subsection" id="s1"><p style="text-align:center"> “If the future of humanity is decided in your absence, you will not be exempt from the consequences.” </p>
        <p style="text-align:center"> “Aiming to stimulate further thinking and help readers participate in some of the major conversations of our time.” </p>
        <p style="text-align:center"> “What is happening in the world today, and what is the meaning of those events.”</p>
        <p style="text-align:right" ,=""> Yuval Noah Harari ’21 Lessons for the 21st Century’</p>
        </div>
        </div>
        </div>
        <div class="section" data-eqcss-0-1="" data-eqcss-0-2-prev="">
        <h2>우리는 무엇을 할 것인가?</h2>
        <div class="subsection" id="s3">
        <h3>큰 질문</h3><p style="text-align:center; font-size:20"> 기술(발전)이 우리 삶 어떤 부분에 영향을 줄 것인가? </p>
        </div>
        <div class="subsection" id="s4">
        <h3>탐구할 구체적인 분야</h3>
        <img src="/static/img/4th_industrial.png" style="width: 100%; height: auto;" />
        </div>
        </div>
        <div class="section" data-eqcss-0-1-next="" data-eqcss-0-2="" data-eqcss-0-3-prev="">
        <h2>목표</h2>
        <div class="subsection" id="s4">
        <p>- 기술 발전이 우리 사회 , 경제 , 문화 전반적으로 끼칠 영향에 대한 종합적인 시각을 갖추는 것</p>
        <p>- 기술을 좋은 방향으로 쓰고자 능동적으로 사고하는 능력 향상</p>
        <p>- 서로의 입장 공유 , 청취 , 갈등 , 수정 통합 사고 확장</p>
        </div>
        </div>
        <div class="section" data-eqcss-0-2-next="" data-eqcss-0-3="">
        <h2>구성원</h2>
        <div class="subsection" id="s5">
        <h3>0기</h3>
        <p>양기창, 윤병관, 이소연, 장은영</p>
        <h3>1기</h3>
        <p>양기창, 윤병관, 이소연(동덕여대), 장은영, 서근종, 황선우, 전지현, 이소연(이화여대)</p>
        <h3>2기</h3>
        <p>최수빈, 정초의, 김예진, 임상욱, 정지혜, 최보윤, 정래원, 구찬모, 정유진, 주홍희</p>
        </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/eqcss/1.9.1/EQCSS.min.js" data-eqcss-0-3-next=""></script>
        
{% endblock %}