{% extends "base.html" %}

{% block contents %}
    <div class="row mt-5">
        <div class="col-12 text-center">
            <h1>I'mpassion</h1>
        </div>
    </div>
    <div class="row mt-5">
        {% if request.session.user %}
        <div class="col-12">
            <button class="btn btn-primary btn-block" onclick="location.href='/logout'">로그아웃</button>
        </div>
        {% else %}
        <div class="col-6">
           <button class="btn btn-primary btn-block" onclick="location.href='/login'">로그인</button>
        </div>
        <div class="col-6">
            <button class="btn btn-primary btn-block" onclick="location.href='/register'">회원가입</button>
        </div>
        {% endif %}
    </div>
    

{% endblock %}
