{% extends "base.html" %}

{% block contents %}

<div id="page" data-eqcss-0-0-parent="" data-eqcss-0-1-prev="">
        <div class="section" data-eqcss-0-0="">
        <img src="/static/img/opensession.png" style="width: 100%; height: auto;" />
        <div class="section" data-eqcss-0-1="" data-eqcss-0-2-prev="">
        <h2>오픈 세션</h2>
        <div class="subsection" id="s3">
        <p style="text-align:center"> 기술(Technology)이 우리(Human)의 삶에 어떤 영향을 줄 것인가? 의 질문에 대해 고민하는 대학생 커뮤니티 임페션입니다.</p>

         <p style="text-align:center"> 임페션은 2017년 2학기에 0기로 시작해, 2019년 1학기에 2기로까지 성장해왔습니다. 
        기술발전이 우리 사회에 가져올 많은 변화들을 능동적으로 마주하고, 빠른 변화로 혼란스러운 사회 속에서 주체적으로 사고하는 능력을 기르고자, 매주 다른 주제들에 관해, 다양한 시각으로 토의를 진행하고 있습니다. </p>
        
        <p style="text-align:center">소규모이기에 가능했던 깊은 토의 내용을 더 많은 사람들에게 공유하고, 더 많은 사람들과 교류하며 생각의 스펙트럼을 넓히고자 ‘기술과 인간의 경계’ 라는 대주제 아래 공개세션을 진행하였습니다.</p>
        
        </div>


        <div class="subsection" id="s4">
        <h3>일정 및 장소</h3>
        <p> 일시: 2019년 5월 14일 (화요일), 19시30-21시15분 </p>
        <p> 장소: 이화여대 포스코관 451호 </p>
        </div>

        </div>

<div class="section" data-eqcss-0-1-next="" data-eqcss-0-2="" data-eqcss-0-3-prev="">
        <h2>발표 주제</h2>
        <div class="subsection">
        <p>A.   Why is this in my recommendations?</p>
        <p>    - 정유진, 주홍희</p>        
        <p>B.    디지털의 군림? 아날로그의 반격?</p>        
        <p>    - 임상욱, 정초의</p>        
        <p>C.   당신은 인간과 인공지능을 구분하실 수 있습니까?</p>       
        <p>    - 김예진, 구찬모, 최보윤</p>        
        <p>D.    A.I 사랑받고 싶은 로봇</p>        
        <p>    - 정래원, 최수빈</p>  
</div>
</div>

<div class="section" data-eqcss-0-2-next="" data-eqcss-0-3="">
<h2>세부 시간표</h2>
<div class="subsection" >
<p>l   오프닝 인사</p>
<p>l   동아리 소개  </p>
<h3>1부</h3>
<p>-   팀 A 발표 8분 내외, Discussion 7분</p>
<p>-   팀 B 발표 8분, Discussion 7분</p>
<p>l   휴식 시간 15분</p>
<h3>2부</h3>
<p>-   팀 C 발표 8분, Discussion 7분 </p>
<p>-   팀 D 발표 8분, Discussion 7분</p>
<h3> </h3>
<p>l   손님들의 생각 공유 10분</p>
<p>l   엔딩 인사, Q&A  </p>
<p>l   행복한 뒤풀이  </p>
</div>
</div>

<div class="section" data-eqcss-0-1-next="" data-eqcss-0-2="" data-eqcss-0-3-prev="">
<h2>발표 주제</h2>
<div class="subsection">
<p>A.   Why is this in my recommendations?</p>
<p>    - 정유진, 주홍희</p>
<p><img src="/static/img/A_1.jpg" style="width: 100%; height: auto;" />
<img src="/static/img/A_2.jpg" style="width: 100%; height: auto;" />         </p>
   
<p>B.    디지털의 군림? 아날로그의 반격?</p>
<p>    - 임상욱, 정초의</p>
<p><img src="/static/img/B_1.jpg" style="width: 100%; height: auto;" />
        <img src="/static/img/B_2.jpg" style="width: 100%; height: auto;" />         </p>       
<p>C.   당신은 인간과 인공지능을 구분하실 수 있습니까?</p>       
<p>    - 김예진, 구찬모, 최보윤</p>
<p><img src="/static/img/c_1.jpg" style="width: 100%; height: auto;" />
        <img src="/static/img/c_2.jpg" style="width: 100%; height: auto;" />         </p>        
<p>D.    A.I 사랑받고 싶은 로봇</p>        
<p>    - 정래원, 최수빈</p>  
<p><img src="/static/img/D_1.jpg" style="width: 100%; height: auto;" />   
</p>

</div>
</div>

<div class="section" data-eqcss-0-1-next="" data-eqcss-0-2="" data-eqcss-0-3-prev="">
        <h2>Group Photo</h2>
        <div class="subsection">
        <img src="/static/img/group.jpeg" style="width: 100%; height: auto;" />
        
        </div>
        </div>

        

        <script src="https://cdnjs.cloudflare.com/ajax/libs/eqcss/1.9.1/EQCSS.min.js" data-eqcss-0-3-next=""></script>
        

{% endblock %}