@import  '~antd/dist/antd.css';
#root{
	width:100%;
	height:100%;
}

.App {
  width:100%;
  height:100%;
  display:flex;
}

.sider{
  width:256px;
  height:100%;
}

.main-container{
  flex:1;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
